header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
}
nav {
  float: right;
}
nav li {
  padding: 0 1rem;
  display: inline;
  padding: 5px;
  float: right;
}
nav.scroll {
  background-color: green;
  color: #eef;
}
header.scroll {
  background: white;
  -webkit-box-shadow: 0px 10px 39px 0px rgba(165, 171, 189, 0.37);
  -moz-box-shadow: 0px 10px 39px 0px rgba(165, 171, 189, 0.37);
  box-shadow: 0px 10px 39px 0px rgba(165, 171, 189, 0.37);
}
