html{
    background: #F4F4F4;
    font-size: 16px
    
  }

header{
    position: fixed;
   top: 0;
   left: 0;
   right: 0;
   height: 80px;
 }

nav {
     text-align: center;
     padding-top: 20px;

     a{
        padding:0 1rem;
      display: inline;
      padding: 10px;
      text-decoration: none;
      color: black;
      //float: right;
     }
 }

 .logo{
    font-size: xx-large;;
  }


nav.scroll {
 background-color: green;
 color: #eef;
}

header.scroll {
 background: white;
  -webkit-box-shadow: 0px 10px 39px 0px rgba(165,171,189,0.37);
-moz-box-shadow: 0px 10px 39px 0px rgba(165,171,189,0.37);
box-shadow: 0px 10px 39px 0px rgba(165,171,189,0.37);
}

.container{
    padding-top: 70px;
}

.parallax{
    // padding-top: 40px;
    //max-height: 990px;
    height: 600px;
    background: orange;
}

.titlearea{
    height: 300px;
    display: flex;
    margin: 0 auto; //possible mixin
  width: 70%;
  padding: 50px;
}

.box{
    width: 250px;
    height: 200px;
    background: darkorange;
}
h1 {
    padding-top: 2%;
    margin-left: -70px;
    font-size: 3em;
}
.fillerBox{
    height: 500px;
    background: yellow;
}

.statsbox{
    margin: 0 auto; //possible mixin
  width: 60%;
  display: flex;
  height: 600px;
}

.stat-box-left{
    
    width: 50%;
    background: black;
}

.stat-box-right{
    padding-top: 100px;
    padding-left: 20px;
    width: 50%;
    background: rgb(158, 197, 133);
}

h2{
    font-size: 2.5em;
}

.mission{
    padding:  25px;
    margin: 0 auto; //possible mixin
  width: 70%;
}

.services{
   padding: 15px;
    margin: 0 auto; //possible mixin
 background-color: rgb(27, 27, 27);
 color: white;
 text-align: center;
}

.box1{
    display: inline-block;
    height: 100px;
    width: 100px;
    background: lightgrey;
    padding: 20px;
    margin: 25px;
}